---
---
@import "{{ site.theme }}";

/**
 * Basic styling
 */
body {
  //font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; //default
  font: 400 16px/1.5 "Segoe UI", Roboto, Helvetica, sans-serif, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  //color: #111; // default
  color: #1;
  //background-color: #fdfdfd; //default
  background-color: #aabbcc;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
 * Images
 */
/*
figure > img {
  display: block; }

img {
  max-width: 90%;
  display: inline-block;
  margin: 10px 10px; 
}
*/
/**
 * Figures
 */

figcaption {
  font-size: 12px;
  line-height: 1.2em;
}

figure {
  #float: middle;
  #width: 100%;
  text-align: justify;
  font-size: smaller;
  text-indent: 0;
  border: 2px black solid;
  margin: 2.5em;
  padding: 0.5em;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article {
	counter-reset: figures;
}

.figure figcaption {
	counter-increment: figures;
}

.figure figcaption:before {
	content: 'Fig. ' counter(figures) ':' ;
}
