---
layout: default
---

<h3 class="title">{{ page.title }}</h3>


<div align="center" style="margin-bottom: 15px;">&mdash;&nbsp;<i class='fa fa-rocket'>&nbsp;</i><i class='fa fa-rocket'>&nbsp;</i><i class='fa fa-rocket'></i>&nbsp;&mdash;</div>


{{ content }}

/*<div align="center">&mdash;&nbsp;<i class='fa fa-rocket'>&nbsp;</i><i class='fa fa-rocket'>&nbsp;</i><i class='fa fa-rocket'></i>&nbsp;&mdash;</div>*/

<hr class="fancyLine3">

<div class="PageNavigation">

  {% if page.previous %}
    <a class="prev" href="{{ site.baseurl }}{{page.previous.url}}"><i class="fa fa-arrow-circle-left"></i> {{page.previous.title}}</a>
    <br>
  {% endif %}


  {% if page.next %}
    <a class="next" href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}} <i class="fa fa-arrow-circle-right"></i> </a>
  {% endif %}<br>
  
  <a href=#top><i class="fa fa-arrow-up fa-lg"></i></a>&nbsp;
  
  <a href="/"><i class='fa fa-home fa-lg'></i></a>&nbsp;
  
  <a href="mailto:Doris%20Stoppacher%20%3Cdstoppacher@ucsc.edu%3E"><i class="fa fa-paper-plane fa-lg"></i></a>

  

</div>
